{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

      <li> Mail : {{ app.user.email}} </li>
   {# {{ dump(app.user)}} #}

   <button href:"path() >Mot de passe oublié</button>
        
{% endblock %}
