{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}

    {# comment itérer dans une liste avec twig #}

    <ul>
        {% for article in articles %}
            <li><a href="{{path('app_get_article_by_id', { id : article.id } )}}"> {{ article.title }} </a> </li>
        {% endfor %}
    </ul>

{% endblock %}
