{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!
{% endblock %}

{% block body %}

	<div
		class="card" style="width: 18rem;">
		{# Concaténation en twig #}
		{% if article.picture == NULL %}
			<img src="{{ asset('build/images/default.jpg') }}" class="card-img-top" alt="...">
		{% else %}
			<img src="{{ asset('build/images/' ~ article.picture ) }}" class="card-img-top" alt="...">
		{% endif %}
		<div class="card-body">
			<h5 class="card-title">{{article.title}}</h5>
			{# directive #}
			<h6 class="card-title">{{ article.date|date("d-m-Y ") }}</h6>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>


{% endblock %}
