


{{form_start(commentForm, { 'attr' : {'class': 'row'}})}}
{{ form_row(commentForm.comment)}}
{{ form_row(commentForm._token)}}

<button type="submit" class="btn btn-success mt-3"> Ajouter un commentaire</button>
{{ form_end(commentForm, {render_rest: false} )}}

