<h1>Bonjour, voici un nouvel email et voici les coordonées du contact en question</h1>

<ul>
	<li>
		Prénom :
		{{contact.firstName}}
	</li>
	<li>
		Nom :
		{{contact.lastName}}
	</li>
	<li>
		Email :
		{{contact.email}}
	</li>
</ul>

<h2>
	Le message du prospect :
</h2>
{{contact.message}}