<div class="row mx-auto px-0 bg-grey-light justify-content-center pt-5">

    <div class="row col-md-12 d-flex px-5">
        <div class='col-sm-6 col-md-3'>
            <ul>
                <li class='fw-bold'>Formation WS</li>
                <li class='mt-4'>
                    <a aria-label="Qui sommes-nous? - Formation WS" href="">
                        Qui sommes-nous?
                    </a>
                </li>
                <li class='mt-4'>
                    <a aria-label="Nos activités - Formation WS" href="{{ path('app_article_index') }}">
                        Nos articles
                    </a>
                </li>
                <li class='mt-4'>
                    <a aria-label="Contactez-nous - Formation WS" href="{{ path('app_contact') }}">
                        Contact
                    </a>
                </li>
            </ul>
        </div>

        <div class='col-sm-6 col-md-3'>
            <ul>
                <li class='fw-bold'>Administration</li>
                <li class='mt-4'>
                    <a aria-label="Notre partenaire vidéo sur l'Académie WS - Formation WS" href="{{path('admin')}}">
                        BackOffice
                    </a>
                </li>
                <li class='mt-4'>
                    <a aria-label="La réponse numérique le blog Officiel de l'Académie WS - Formation WS" href="https://www.lareponsenumerique.fr">
                        La réponse numérique - blog
                    </a>
                </li>
            </ul>
        </div>

        <div class='col-sm-6 col-md-3'>
            <ul>
                <li class='fw-bold'>Opportunités</li>
                <li class='mt-4'>
                    <a aria-label="Commandez un formateur - Formation WS" href="">
                        Mentions Légales
                    </a>
                </li>
                <li class='mt-4'>
                    <a aria-label="Devenir formateur - Formation WS" href="">
                        Politique de cookies
                    </a>
                </li>
                <li class='mt-4'>
                    <a aria-label="Devenir formateur - Formation WS" href="">
                        Conditions générales de vente
                    </a>
                </li>
                <li class='mt-4'>
                    <a aria-label="Devenir formateur vidéo avec l'Académie WS - Formation WS" href="https://academiews.fr/teacher/recrutement">
                        Devenir formateur vidéo
                    </a>
                </li>
            </ul>
        </div>

        <div class='col-sm-6 col-md-3'>
            <ul>
                <li class='fw-bold'>DIVERS</li>

                <li class='mt-4'>
                    <a aria-label="Mentions légales - Formation WS" href="#">
                        Mentions légales
                    </a>
                </li>

                <li class='mt-4'>
                    <a aria-label="Politique de cookies - Formation WS" href="#">
                        Cookies
                    </a>
                </li>
            </ul>
        </div>


    </div>


    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320" class="p-0">
        <path fill="#130431" fill-opacity="1" d="M0,256L48,266.7C96,277,192,299,288,277.3C384,256,480,192,576,160C672,128,768,128,864,133.3C960,139,1056,149,1152,128C1248,107,1344,53,1392,26.7L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
</div>